<!DOCTYPE html>
<html lang="ja">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="static/js/index.js"></script>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/css/style.css">
        <title>物体検知アプリケーション</title>
    </head>
    <header>
        <h1>Object Detection App</h1>
    </header>

    <body>
        <div class="container">
            <div class="row">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </body>
</html>